* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: transparent;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    background: white;
    box-shadow: 0 2px 10px rgba(246, 243, 243, 0.1);
}

.logo {
    font-size: 28px;
    font-weight: bold;
}

.nav-buttons .btn {
    padding: 8px 18px;
    margin-left: 10px;
    border: none;
    background: #2e7d32;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.nav-buttons .btn:hover {
    background: #1b5e20;
}

.hero {
    text-align: center;
    padding: 0;
}

.hero img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: blur(5px);
}

.hero h1 {
    font-size: 90px;
    margin-top: 50px;
    margin-bottom: 400px;
    color: white;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    width: 300px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.card-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px;
}

.users {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 40px;
}

.user-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 40px;
    border: none;
    background: #4caf50;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.user-btn .btn-title {
    font-size: 20px;
    font-weight: bold;
}

.user-btn .btn-desc {
    font-size: 14px;
    margin-top: 5px;
    font-weight: normal;
}

.user-btn:hover {
    background: #2e7d32;
}

footer {
    text-align: center;
    padding: 20px;
    background: #222;
    color: white;
    margin-top: 50px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-card {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 400px;
    max-width: 90%;
    position: relative;
    text-align: center;
    animation: fadeIn 0.3s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#modalTitle {
    color: #2e7d32;
    margin-bottom: 15px;
    font-size: 24px;
}

#modalDesc {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
}